<!--
  Description:
 
  @created:   02/02/2015
  @project:   TwentyFour-7
  @path:      /Users/Xiaotao/Documents/index.html
              /Library/WebServer/Documents/register/index.html

  @original   form.html
  @author:    Cindy Yu
  @company:   24/7
  @version    1.0

-->

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <title>TwentyFourSeven - Register Account</title>
        <link rel="stylesheet" href = "http://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="stylesheet" href="style-1.css" media="screen" type="text/css" />
  </head>
<!-- multistep form -->
<form id="msform">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Account Setup</li>
		<li>Personal Details</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Create your account</h2>
		<h3 class="fs-subtitle">Please fill in all sections</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="password" name="pass" placeholder="Password" />
		<input type="password" name="cpass" placeholder="Confirm Password" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Personal Details</h2>
		<h3 class="fs-subtitle">We will never sell it</h3>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="text" name="lname" placeholder="Last Name" />
		<input type="text" name="phone" placeholder="Phone" />
		<textarea name="address" placeholder="Address"></textarea>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="submit" name="submit" class="submit action-button" value="Submit" />
	</fieldset>
</form>

<script type='text/javascript'>

  var frmvalidator = new Validator("login");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();

  

<!-- jQuery -->
<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<!-- jQuery easing plugin -->
<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
<script language="javascript"  type="text/javascript" src="progressbar.js"></script>
