@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before{
  font-family: 'FontAwesome', sans-serif;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body{
  background: #f0f8ff;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a{
  color: #eee;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

input{
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p{
  line-height: 1.5em;
}

.clearfix{
  *zoom: 1;
}
.clearfix:before, .clearfix:after{
  content: ' ';
  display: table;
}
.clear:after{
  clear: both;
}

.container{
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
       ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#login{
  width: 280px;
}

#login form span{
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input{
  height: 50px;
}

#login form input[type="text"], input[type="password"]{
  background-color= #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"]{
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover{
  background-color: #d44179;
}

#login > p{
  text-align: center;
}

#login > p span{
  padding-left: 5px;
}
